<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Hi welcome to JJMCOE CSE Dept.</h1>
<form action="/savedata" method="post">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="Booking Date">Booking Date:</label>
	<input type="date" id="bookingdate" name="bookingdate"><br><br>
  <label for="uname">User Name:</label>
  <input type="text" id="uname" name="uname"><br><br>
     <label for="password">User Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>