<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Thanks for Donation to Institute</h1>
<form action="/donationdata" method="post">
  <label for=" fullname">Full  name:</label>
  <input type="text" id=" fullname" name=" fullname"><br><br>
  <label for="emailid">Email ID:</label>
  <input type="text" id="emailid" name="emailid"><br><br>
  <label for="contactno">Contact Number:</label>
  <input type="text" id="contactno" name="contactno"><br><br>
     <label for="donationtype">Donation Type:</label>
  <input type="text" id="donationtype" name="donationtype"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>