<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<head>
	<title>Styled Link as Button</title>
	<style>
		.button-class {
			background-color: #4CAF50;
			/* Green */
			border: none;
			color: white;
			padding: 10px 20px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 4px;
		}
	</style>
</head>

<body>
<h1>You are Sucessfully loggedin</h1>
	<a href="/donation" class="button-class">
     If interested to Donate Please Click Here </a>
     <button onclick="document.location='Donation.html' ">next page</button>
     
     <a href="/edit" class="button-class">
    Click here to edit your details </a>
     <button onclick="document.location='lns.html' ">next page</button>
</body>
</html>